/**
 * Laravel Admin Main CSS File
 * This file imports all modular CSS components
 */

/* Import Bootstrap CSS */
@import 'bootstrap';

/* Import modular CSS components */
@import './variables.css';
@import './buttons.css';
@import './alerts.css';
@import './badges.css';
@import './cards.css';
@import './sidebar.css';
@import './navbar.css';
@import './forms.css';
@import './typography.css';
@import './layout.css';
@import './responsive.css';

/* Import custom component styles */
@import './filemanager.css';
